#go-top {
  position: fixed;
  bottom: 24px;
  right: 30px;
  z-index: 700;
  size: 35px;
}

#go-top p {
  font-size: 40px;
  cursor: pointer;
}

#go-top p svg {
  color: #2c2c2c;
}

#go-top:hover p svg {
  color: #000000;
}

@media only screen and (max-width: 600px) {
  #go-top {
    bottom: 0;
    right: 0;
  }
}
